.container-fluid {
  height: 100vh;
  display: flex;
  background-color: #414352;
}
#wrapper {
  margin: auto;
  padding: 20px;
  font-family: sans-serif;
}
#break-label {
  color: #aaaebc;
}
#break-decrement {
}
#break-length {
  color: #aaaebc;
  padding: 10px;
}
#break-increment {
}
#session-label {
  color: #aaaebc;
}
#session-decrement {
}
#session-length {
  color: #aaaebc;
  padding: 10px;
}
#session-increment {
}
#timer-label {
  color: #aaaebc;
  font-size: 40px;
  text-align: center;
}
#time-left {
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: 60px;
  text-align: center;
}
#start_stop {
  margin-right: 20px;
  width: 80px;  
}
#reset {
  width: 80px; 
}
#circle {
  border: solid 2px #aaaebc;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  padding: 90px 10px;
  background: #1d1e22;
}

#buttons {
  margin-top:40px;
  display: flex;
  justify-content: center;
}

#settings {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#break-setting {
  margin-right: 100px;
}